@model AtelieDrinks.Models.Drinks

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Drinks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome_drink" class="control-label"></label>
                <input asp-for="nome_drink" class="form-control" />
                <span asp-validation-for="nome_drink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custo_tecnico" class="control-label"></label>
                <input asp-for="custo_tecnico" class="form-control" />
                <span asp-validation-for="custo_tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingredientes" class="control-label"></label>
                <input asp-for="ingredientes" class="form-control" />
                <span asp-validation-for="ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
