body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #fff;
}

.text-blue {
    color: #fff;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
    grid-area: header;
    height: 70px;
    background-color: #471320df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 80px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);

}

.menu-icon {
    display: none;
    cursor: pointer;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #471320;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
   
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

    .sidebar-title > span {
        display: none;
    }

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
}

    .sidebar-list-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .sidebar-list-item > a {
        text-decoration: none;
        color: #9799ab;
    }

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
    z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
   
}

.main-title {
    display: flex;
    justify-content: space-between;
}

    .main-title > p {
        font-size: 20px;
    }

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

    .card:first-child {
        border-left: 7px solid #246dec;
    }

    .card:nth-child(2) {
        border-left: 7px solid #f5b74f;
    }

    .card:nth-child(3) {
        border-left: 7px solid #367952;
    }

    .card:nth-child(4) {
        border-left: 7px solid #cc3c43;
    }

    .card > span {
        font-size: 20px;
        font-weight: 600;
    }

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .card-inner > p {
        font-size: 18px;
    }

    .card-inner > span {
        font-size: 35px;
    }

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}


/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #471320df;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a5aaad;
    }


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 2000px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "header"
            "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}

.fundo_body {
    background-color: black;
}

/* ---------- DATA TABLE ---------- */

.table thead th {
    background-color: #fff;
    color: #fff;
}

.table tr:nth-child(odd) {
    background-color: #fff;
    color: #fff;
}

.table tr:nth-child(even) {
    background-color: #d3d3d3;
    color: #fff;
}

#dtBasicExample_filter, #dtBasicExample_info, .paginate_button, #dtBasicExample_next, #dtBasicExample_previous, #dtBasicExample_length {
    color: #fff !important;
}

.dt-button {
    background-color: #fff;
    color: #fff;
}



#dtBasicExample_length {
    width: 100%;
}

.card-body1 {
    background-color: #5554 !important;
    background-image: url("images/logos.png");
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    background-blend-mode: saturation;
    background-position: center top;
}

div.dt-datetime {
    width: auto !important;
}

.mb-0, .display-4 {
    color: #fff !important;
}

.adicionar {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


button.dt-button:first-child, div.dt-button:first-child, a.dt-button:first-child, input.dt-button:first-child {
    margin-left: 0;
    background-color: white;
}

button.dt-button:first-child, div.dt-button:first-child, a.dt-button:first-child, input.dt-button:first-child {
    margin-left: 0;
    background-color: white;
}



button.dt-button.buttons-pdf.buttons-html5 {
    background-color: white;
}

button.dt-button:hover.buttons-pdf.buttons-html5 {
    background-color: white;
}

button.dt-button.buttons-excel.buttons-html5 {
    background-color: white;
}

button.dt-button:hover.buttons-excel.buttons-html5 {
    background-color: white;
}

.dataTables_wrapper .dataTables_filter { /*Barra de pesquisa data-table*/
    visibility: hidden;
}

.dataTables_wrapper .dataTables_paginate {
    color: #ffffff;
}

.dataTables_wrapper .dataTables_info { /*Mostrador de resultados*/

    color: #fff !important;
}


element.style {
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #e3342f !important;
    border: 1px solid transparent;
    background: #1cc88a;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { /*Button next*/
    background: #fff;
    background-color: white !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        color: white;
    }








    /*------Página de Insumos-------*/



.cabecalho {
    width: 100%;
    height: 50%;
    background: #ffffff;
    text-align: center;
    background-image: linear-gradient(to bottom, #471320, #000000);
    position: relative;
}

.img-cabecalho {
    width: 70%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
}


    .container .texto {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        padding: 10px;
        font-size: 50px;
    }

h1 {
    position: center;
    text-align: center;
    font-size: 50px;
    font-family: Amaranth;
    text-shadow: 5px 5px 5px black;
}

h2 {
    position: absolute;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    color: #ffffff;
    padding-left: 31%;
    padding-top: 0.6%;
}

.meio {
    text-align: center;
    background: #000000;
    /*padding: 20px 0px 0px 0px;*/
    display: flex;
    height: 80px;
    margin-top: 80px;
    margin-bottom: 60px;
    position: relative;
}


.search-box {
    position: absolute;
    left: 31%;
    background: none;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    width: 550px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 500px;
    padding: 0 6px;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.add-box {
    position: absolute;
    left: 60%;
    background: none;
    height: 28px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
}

.add-txt {
    margin: 0;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
}

.add-btn {
    width: 24px;
    height: 40px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    padding: 0 10%;
    margin: 80px auto 0;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

    .tabela thead {
        background-color: #471320;
    }

        .tabela thead tr th {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.35px;
            color: #ffffff;
            opacity: 1;
            padding: 12px;
            vertical-align: top;
            text-align: center;
            border: 1px solid #dee2e685;
        }

    .tabela tbody tr td {
        font-size: 14px;
        letter-spacing: 0.35px;
        font-weight: normal;
        color: #f1f1f1;
        background-color: #000000;
        padding: 8px;
        text-align: center;
        border: 1px solid #dee2e685;
    }

    .tabela .text_open {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.35px;
        color: #ff1046;
    }

    .tabela .tbody tr td .btn-edit {
        width: 130px;
        text-decoration: none;
        line-height: 35px;
        display: block;
        background-color: #ff1046;
        display: block;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        font-size: 14px;
        opacity: 1;
    }

.adicionar {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

    .adicionar a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #28a745;
        color: #fff;
        font-size: 1rem;
    }

        .adicionar a i {
            margin-right: 10px;
            font-size: 1rem;
        }


