@{
    ViewData["Title"] = "Home Page";

    <link href="css/stylecards.css" rel="stylesheet">
    <link href="js/scriptdashboard.js">


    <img height="px" width="100%" src="/imagens/selection-various-cocktails-table 1.png" class="imageuser" alt="">

     <div class="cards-list">
    <div style="margin-top:-450px;">

        <h1 style="padding-top:150px; color:#fff" class="text-center">DASHBOARD</h1>
        <a style="text-decoration: none" href="Orcamento">
            <div class="cardorcamento">

                <div class="cardorcamento_image">

                    <img src="/imagens/atelier.jpg" />

                </div>
                <div class="cardorcamento_title title-black">
                    <p>ORÇAMENTO</p>
                </div>
                <div class="cardorcamento_title title">
                    <p>FAÇA O SEU</p>
                </div>
                <div class="cardorcamento_title title-black" style="font-size:100px; margin-top:-50px; margin-right: 300px;">
                    <p>+</p>
                </div>
            </div>

        </a>

    </div>
    </div>

    <img />

    <div class="cards-list">

        <div class="card 4">


            <div class="card_title title">
                <p>penúltimo</p>

            </div><div class="card_title title-white">
                <p>ORÇAMENTO</p>
            </div>

            <div class="card_title title">
                <p>R$ 3.452,00 </p>
            </div>

        </div>

        <div class="card 1">

            <div class="card_title title">
                <p>último</p>
            </div>

            <div class="card_title title-white">
                <p>ORÇAMENTO</p>
            </div>


            <div class="card_title title">
                <p>R$ 4.521,00</p>
            </div>



        </div>

        <div class="card 3">
            <a style="text-decoration: none" href="Historico">
                <div class="card_title">
                    <p>

                    </p>
                </div>
                <div class="card_title title-white">
                    <p>
                        HISTÓRICO
                    </p>
                </div>
        </div>
        <a>



    </div>






}